@import "styles/abstract/variables.scss";

.categories {
    width: 100%;
    .list {
        display: flex;
        gap: 1rem;
        justify-content: center;
        @include size-font(1em, $primary-font);
        a.item {
            padding: 1rem;
            color: $primary-color;
            border-radius: 20px;
            text-transform: capitalize;
            transition: all .2s;
            border: 1px solid #000000;
            &:hover {
               background-color: $primary-color;
               color: #FFFFFF; 
               border: none;
            }
        }
        a.active {
            background-color: $primary-color;
            color: #FFFFFF; 
            border: none;
        }
    }
    
}

@media screen and (max-width: 780px) {
    
    .list {
        flex-wrap: wrap;
        height: 180px;
    }
}    