@import "styles/abstract/variables.scss";

.text-box {
    width: 100%;
    background-color: $primary-color;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    h1 {
        color: white;
        @include size-font(8em, $primary-font);
    }
}

@media screen and (max-width: 780px) {
    .text-box {
        height: 200px;
        h1 {
            font-size: 4em;
        }
    }
}    