@import 'styles/abstract/variables.scss';

.main {
    margin-top: 100px;
    .snackbar {
        @include size-font(1em, $primary-font);
        background-color: $primary-color;
        color: #FFFFFF;
        text-transform: uppercase;
    }
}