@import 'styles/abstract/variables.scss';

.main {
    margin-top: 100px;
    .snackbar {
        @include size-font(1em, $primary-font);
        background-color: black;
        color: rgb(23, 201, 0);
        text-transform: uppercase;
    }
}